[Unit]
Description=SlugCam's Power Consumption Analysis Service
Documentation=https://github.com/SlugCam/SCnode/tree/master/Raspberry/PowerAnalysisService
#Wants=SCmanagement.service  -- We might want a parent service?
#After=SCmanagement.service

[Service]
Type=simple
ExecStart=/usr/lib/SC-daemons/PowerAnalysis-daemon

[Install]
WantedBy=multi-user.target

